.sidebar
{
    display: flex;
    flex: 0.25;
    flex-direction: column;
}
.sidebar .sidebar__profile img
{
    width: 100%;
    height: 50px;
    margin-bottom: -30px;
    overflow: hidden;
}
.sidebar .sidebar__profile .sidebar_profile_details .MuiAvatar-circular
{

    overflow: hidden;
    z-index: 0.99;
    background-color: red;
}
.sidebar .sidebar__profile
{
    border-bottom: 1px solid #ccc;
    background-color: #fff;
    text-align: center;
    border-radius: 10px;
    padding-bottom: 10px;
    overflow: hidden;
}
 .sidebar__profile .sidebar_profile_details .MuiAvatar-circular
{
    width: 60px;
    height: 60px;
    background-color: red;
    margin: 0px auto;
    object-fit: contain;
}
.sidebar_profile_details h4{
    margin-bottom: 0px;
}
.sidebar_profile_details
{  
    border-bottom: 2px solid #1b1a1a;
    padding-bottom: 20px;
}
.sidebar_profile_details p{
    margin: 5px 10px;
    font-size: 13px;
    color: #3f3f3f;
}
.profile__stats
{
    padding: 5px 10px;
   display: flex;
   text-align: left;
   align-items: center;
   justify-content: space-between;
}
.sidebar__recent
{
background-color: white;
padding: 10px;
margin: 10px 0px;
border-radius: 10px;
position: sticky;
top: 60px;
}
.hash span
{
    font-weight: bold;
    margin-right: 5px;
}